{#<footer class="main-footer text-center" style="background-color:#6F1215;">#}
{#    <div class="container red">#}
{#        <div class="col-md-26 text-left" id="ouis">#}
{#          <strong>Copyright &copy; 2020-2021 <a href="#">UNSA</a>.</strong><br>#}
{#          Todos los derechos reservados.<br>#}
{#    			Universidad Nacional de San Agustin de Arequipa<br>#}
{#          Calle Santa Catalina Nro. 117. Cercado - Arequipa<br>#}
{#          Telf. 51-54-237808 - Email: rectorado@unsa.edu.pe#}
{#        </div>#}
{#        <div class="col-md-26 text-right" id="ouis">#}
{#            Oficina de Imagen Institucional<br>#}
{#            Email: imageninstitucional@unsa.edu.pe<br>#}
{#            Telf. 51-54-282269#}
{#        </div>#}
{#    </div>#}
{#</footer>#}


<!-- Main Footer -->
<footer class="main-footer text-center" style="background-color:#6F1215;">
    <strong>Copyright &copy; 2020-2021 <a href="#">UNSA</a>.</strong><br>
    Todos los derechos reservados.
</footer>
