{% load static %}
<footer class=" container-fluid" style="background-color:#6F1215;">
    <div class="container text-white">
        <div class="row d-flex justify-content-between">
            <div class ="col-md-5 my-auto">
                <ul class="list-unstyled">
                    <li>Universidad Nacionar de San Agustín de Arequipa</li>
                    <li>Calle Santa Catalina Nro. 117 Cercado - Arequipa</li>
                    <li>Telf. 51-54-237808 - Email: rectorado@unsa.edu.pe</li>
                </ul>
            </div>
            <div class="col-md-4 my-auto">
                <ul class="list-unstyled">
                    <li>Oficina de Imagen Institucional</li>
                    <li>Email: imageninstitucional@unsa.edu.pe</li>
                    <li>Telf. 51-54-282269</li>
                </ul>
            </div>
            <div class="col-md-3 d-none d-md-block" style="clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);background-color: #fff">
                <div class="p-4 my-auto">
                    <img src="{% static 'image/unsa.png' %}" width="300px" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>
